.gridRowSelection .x-grid-row-selected .x-grid-cell {
	background-color: #FF9 !important;
	border-bottom-color: #666;
	border-bottom-style: solid;
	border-top-color: #666;
	border-top-style: solid;
}

/*
 * 16 x 16 icons
 */
.icon-arrow-right {
	background-image: url(../img/icons/16x16/arrow-right.png) !important;
	background-repeat: no-repeat;
}

.icon-arrow-switch {
	background-image: url(../img/icons/16x16/arrow-switch.png) !important;
	background-repeat: no-repeat;
}

.icon-bar-chart {
	background-image: url(../img/icons/16x16/bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-bar-chart-hoz {
	background-image: url(../img/icons/16x16/bar-chart-hoz.png) !important;
	background-repeat: no-repeat;
}

.icon-color-wheel {
	background-image: url(../img/icons/16x16/color-wheel.png) !important;
	background-repeat: no-repeat;
}

.icon-datafeed {
	background-image: url(../img/icons/16x16/datafeed.gif) !important;
	background-repeat: no-repeat;
}

.icon-delete {
	background-image: url(../img/icons/16x16/delete.png) !important;
	background-repeat: no-repeat;
}

.icon-donut-chart {
	background-image: url(../img/icons/16x16/donut-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-eraser {
	background-image: url(../img/icons/16x16/eraser.png) !important;
	background-repeat: no-repeat;
}

.icon-globe {
	background-image: url(../img/icons/16x16/globe.png) !important;
	background-repeat: no-repeat;
}

.icon-magnify {
	background-image: url(../img/icons/16x16/magnify.png) !important;
	background-repeat: no-repeat;
}

.icon-pie-chart {
	background-image: url(../img/icons/16x16/pie-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-plus {
	background-image: url(../img/icons/16x16/plus.png) !important;
	background-repeat: no-repeat;
}

.icon-refresh {
	background-image: url(../img/icons/16x16/refresh.png) !important;
	background-repeat: no-repeat;
}

.icon-server-ftp {
	background-image: url(../img/icons/16x16/ftpserver.png) !important;
	background-repeat: no-repeat;
}

.icon-server-mail {
	background-image: url(../img/icons/16x16/mailserver.png) !important;
	background-repeat: no-repeat;
}

.icon-server-web {
	background-image: url(../img/icons/16x16/webserver.png) !important;
	background-repeat: no-repeat;
}

.icon-stacked-bar-chart {
	background-image: url(../img/icons/16x16/stacked-bar-chart.png) !important;
	background-repeat: no-repeat;
}

.icon-stop {
	background-image: url(../img/icons/16x16/stop.png) !important;
	background-repeat: no-repeat;
}

.icon-tick {
	background-image: url(../img/icons/16x16/tick.png) !important;
	background-repeat: no-repeat;
}

.icon-tools {
	background-image: url(../img/icons/16x16/tools.png) !important;
	background-repeat: no-repeat;
}

/**
 * SVG
 */
 
/** easily recognize the bounding box 
svg {
	border: solid 2px black;
}**/

.arc path {
	stroke: #FFFFFF;
}

.areaLine {
	fill: none
}

.axis path, .axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font: 9px/1.1 sans-serif;
	fill: #333333;
}

.axisBoldAsLove path, .axisBoldAsLove line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axisBoldAsLove text {
	font: 9px/1.1 sans-serif;
	font-weight: bold;
	fill: #333333;
}

.axisMajor path, .axisMajor line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axisMajor text {
	font: 11px/1.1 sans-serif;
	fill: #333333;
}

.tinyText {
	font: 9px/1.1 sans-serif;
}

.miniText {
	font: 8px/1.1 sans-serif;
}

.legendText {
	font: 9px/1.1 sans-serif;
	cursor: pointer;
}

.legendTextBold {
	font: bold 9px/1.1 sans-serif;
	cursor: pointer
}

.legendTextBoldOver {
	font: bold 9px/1.1 sans-serif;
	color; #990066;
	cursor: pointer
}

.labelText {
	font: 9px/1.1 sans-serif;
	pointer-events: none;
}

.labelText-pe {
	font: 9px/1.1 sans-serif;
}

.labelTextItalic {
	font: 10px/1.1 sans-serif;
	font-style: italic;
	fill: #333333;
}

/**
 * ExtJS overrides and additions
 */
.btn-highlight-khaki {
	background: #F0D58C;
}

.btn-highlight-peachpuff {
	background: #FFDAB9;
}

.responsiveWin {
	background-color: #FFFFFF;
}